In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv("data/digits_train.csv", index_col=0)

In [3]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,labels
0,0,0,2,12,3,0,0,0,0,0,...,0,0,0,1,15,16,13,4,0,6
1,0,0,13,13,13,12,4,0,0,1,...,0,0,1,9,14,15,4,0,0,5
2,0,0,0,12,8,0,6,3,0,0,...,0,0,0,0,12,6,0,0,0,4
3,0,0,1,11,10,0,0,0,0,0,...,0,0,0,0,13,8,0,0,0,9
4,0,0,1,10,14,13,2,0,0,0,...,0,0,0,0,14,2,0,0,0,7

In [4]:
test_df = pd.read_csv("data/digits_test.csv", index_col=0)

In [5]:
test_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
count,1620.0,1620.000000,1620.000000,1620.000000,1620.000000,1620.000000,1620.000000,1620.000000,1620.000000,1620.000000,...,1620.000000,1620.000000,1620.0,1620.000000,1620.000000,1620.000000,1620.000000,1620.000000,1620.000000,1620.000000
mean,0.0,0.332099,5.394444,11.691358,11.601852,5.503704,1.404938,0.151852,0.003086,2.008025,...,3.638272,0.164815,0.0,0.288272,5.756790,11.853086,11.690123,6.861111,2.153704,0.243210
std,0.0,0.894472,4.799819,4.368996,4.439435,5.632835,3.390424,1.170104,0.124226,3.152976,...,4.820049,0.815611,0.0,0.941913,5.117168,4.478556,4.972590,5.902635,4.176076,1.373484
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,1.000000,10.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,1.000000,10.000000,10.000000,0.000000,0.000000,0.000000
50%,0.0,0.000000,5.000000,13.000000,13.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.0,0.000000,5.000000,13.000000,13.000000,6.000000,0.000000,0.000000
75%,0.0,0.000000,9.000000,15.000000,15.000000,10.000000,0.000000,0.000000,0.000000,3.000000,...,7.000000,0.000000,0.0,0.000000,10.000000,15.000000,16.000000,12.000000,2.000000,0.000000
max,0.0,8.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,5.000000,15.000000,...,16.000000,10.000000,0.0,10.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000

In [6]:
test_data = np.array(test_df)

In [7]:
# drop labels to get feature
y = train_df['labels']
X = train_df.drop('labels', axis=1)

In [8]:
import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2)

/Users/rose/anaconda3/envs/afriai/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
/Users/rose/anaconda3/envs/afriai/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
classifier = RandomForestClassifier(n_estimators=10, criterion = 'entropy')
classifier.fit(X_train, y_train)
print ('Accuracy of Random forest classifier on training set: {:.2f}'.format(classifier.score(X_train, y_train)))
print('Accuracy of Random forest classifier on test set: {:.2f}'.format(classifier.score(X_test, y_test)))

Accuracy of Random forest classifier on training set: 1.00
Accuracy of Random forest classifier on test set: 0.96

In [10]:
# predict test data
predictions = classifier.predict(test_df)

In [11]:
predictions

array([6, 3, 9, ..., 0, 6, 2])

In [12]:
test_pred = pd.DataFrame()
test_pred['labels'] = predictions
test_pred.to_csv('submissions/submission_digit.csv', index=True)